body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    color: black;
    background-color: slategray;
}
img{
    width: 300px;
    height: 300px;
}
#errorCode{
    color: red;
}